html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.fieldRow {
    margin-bottom: 20px;
    overflow: hidden;
}

    .fieldRow .field {
        float: left;
        margin: 0 10px 0 0;
    }

    .fieldRow select.field {
        padding: 1px;
    }

.buttonHolder {
    border-top: solid 5px #ccc;
    padding: 10px;
}

#template .button.remove {
    display: none;
}