@model DeleteOrderItemViewModel

@{
	ViewData["Title"] = "Delete Order Item";
}

<h2 class="text-primary mt-4"> Delete Order Item </h2>
<hr />

<form asp-controller="OrderItem" asp-action="Delete" method="post">

	<div asp-validation-summary="All" class="text-danger"></div>

	<input type="hidden" asp-for="OrderId" />
	<input type="hidden" asp-for="OrderNumber" />
	<input type="hidden" asp-for="OrderItemId" />

	<div class="mb-3">
		<label asp-for="OrderNumber" class="form-label"> Order Number </label>
		<input asp-for="OrderNumber" disabled class="form-control col-4">
	</div>

	<div class="mb-3">
		<label asp-for="ItemName" class="form-label"> Item Name </label>
		<input asp-for="ItemName" disabled class="form-control col-4">
	</div>

	<div class="mb-3">
		<label asp-for="Quantity" class="form-label"> Quantity </label>
		<input asp-for="Quantity" disabled class="form-control">
	</div>

	<div class="mb-3">
		<label asp-for="Unit" class="form-label"> Unit </label>
		<input asp-for="Unit" disabled class="form-control">
	</div>

	<button type="submit" class="btn btn-danger"> <i class="fas fa-trash-alt"></i> Delete </button>
	<a asp-controller="Order" asp-action="Details" asp-route-id="@Model.OrderId" class="btn btn-success">
		<i class="fa fa-sign-out-alt"></i> Back
	</a>

</form>

