@model EditOrderItemViewModel

@{
	ViewData["Title"] = "Edit Order Item";
}

<h2 class="text-primary mt-4"> Edit Order Item </h2>
<hr />

<form asp-controller="OrderItem" asp-action="Edit" method="post">

	<div asp-validation-summary="All" class="text-danger"></div>

	<input type="hidden" asp-for="OrderId" />
	<input type="hidden" asp-for="OrderNumber" />
	<input type="hidden" asp-for="OrderItemId" />

	<div class="mb-3">
		<label asp-for="OrderNumber" class="form-label"> Order Number </label>
		<input asp-for="OrderNumber" disabled class="form-control col-4">
	</div>

	<div class="mb-3">
		<label asp-for="ItemName" class="form-label"> Item Name </label>
		<input asp-for="ItemName" class="form-control col-4">
		<span asp-validation-for="ItemName" class="text-danger"></span>
	</div>

	<div class="mb-3">
		<label asp-for="Quantity" class="form-label"> Quantity </label>
		<input asp-for="Quantity" class="form-control">
		<span asp-validation-for="Quantity" class="text-danger"></span>
	</div>

	<div class="mb-3">
		<label asp-for="Unit" class="form-label"> Unit </label>
		<input asp-for="Unit" class="form-control">
		<span asp-validation-for="Unit" class="text-danger"></span>
	</div>

	<button type="submit" class="btn btn-success"> <i class="far fa-save"></i> Save </button>
	<a asp-controller="Order" asp-action="Details" asp-route-id="@Model.OrderId" class="btn btn-danger">
		<i class="fa fa-sign-out-alt"></i> Back
	</a>

</form>

