@if (ViewBag.ErrorTitle == null)
{
	<h3>
		An error occured while processing your request.
		The support team is notified and we're working on the fix
	</h3>
	<hr />
	<h5>
		Please contact us at support@gmail.com
	</h5>
}
else
{
	<h1 class="text-danger"> @ViewBag.ErrorTitle </h1>
	<h6 class="text-danger"> @ViewBag.ErrorMessage </h6>

	<a asp-controller="Administration" asp-action="EditRole" asp-route-id="@ViewBag.ObjectId" 
	class="btn btn-primary" style="width:auto"> 
		Click here to Edit Role
	</a>
}




