@model DeleteOrderViewModel

@{
	ViewData["Title"] = "Delete Order";
}

<h2 class="text-primary mt-4"> Delete Order </h2>
<hr />

<form asp-controller="Order" asp-action="Delete" asp-route-id="@Model.Id" method="post">

	<div asp-validation-summary="All" class="text-danger"></div>

	<input type="hidden" asp-for="Id" />

	<div class="mb-3">
		<label asp-for="Number" class="form-label"> Number </label>
		<input asp-for="Number" disabled class="form-control col-4">
	</div>

	<div class="mb-3">
		<label asp-for="Date" class="form-label"> Date </label>
		<input asp-for="Date" disabled class="form-control col-4">
	</div>

	<div class="mb-3">
		<label asp-for="ProviderId" class="form-label"> Provider </label>
		<select asp-for="ProviderId" disabled class="form-select" asp-items=@Model.ProvidersSelectList>
		</select>
	</div>

	<button type="submit" class="btn btn-danger"> <i class="fas fa-trash-alt"></i> Delete </button>
	<a asp-controller="Order" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-success">
		<i class="fa fa-sign-out-alt"></i> Back
	</a>

</form>

